@mixin flex_center_spbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_center_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin sort_position {
    position: absolute;
    left: -9px;
    top: 30px;
    padding: 9px 30px 12px 9px;
}