@import "vars";
@import "mixins";
@import "product";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 19px;

}


.header-flex {
    @include flex_center_spbetween;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 41px;
}

.root_menu {

    position: relative;
    display: inline-block;
}

.root_menu:hover .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
    background: $white;
    list-style-type: none;
    padding: 32px;
    z-index: 1000;
}

.dropdown>li {
    cursor: pointer;
}

.menu_heading {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.menu_subheading {
    color: $pink;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.menu_item {
    display: block;
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 11px;
    padding-left: 10px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.main {
    background-color: #F1E4E6;
    display: flex;
    margin-bottom: 65px;
}

.main-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


.main-right {
    width: 50%;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.big {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.pink {
    color: $pink;
}


.main-title {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 377px;
}

.sale {
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;


    &__item,
    &__item__long {
        position: relative;

        &__content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(33, 22, 22, 0.7);

            &__text {
                color: $white;
                text-align: center;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            &__heading {
                color: $pink;
                font-family: Lato;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-align: center;

            }
        }
    }
}



.sale__item__long {

    grid-column: span 3;
}


.products-title {
    margin-bottom: 6px;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.products-text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 49px;
    text-align: center;
}



.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.product__box {
    background-color: #F8F8F8;
    width: 32%;
    margin-bottom: 30px;
    position: relative;

    &__subtitle {
        padding-top: 24px;
        padding-bottom: 12px;
        padding-left: 18px;
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__dscr {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 18px;
        padding-left: 16px;
        padding-right: 29px;
    }
}




.background-pink {
    height: 420px;
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
}


.price {
    color: $pink;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 18px;
}


.product__box:hover .product__box__image {
    filter: brightness(0.5);
}

.product__box:hover .add_to_cart {
    display: flex;
}

.add_to_cart {
    position: absolute;
    align-items: center;
    gap: 11px;
    border: 1px solid $white;
    color: $white;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 188px;
    left: 111px;
    padding: 13px 11px 9px 16px;
    display: none;
}

.add_to_cart:hover {
    box-shadow: 0 0 5px $white;
}

.button {
    display: flex;
    justify-content: center;
}

.pink_button {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    padding: 1rem 2rem;
    border: 1px solid #F26376;
    text-decoration: none;
    margin-bottom: 95px;
    transition: all 0.3s;
}

.pink_button:hover {
    color: $white;
    background-color: #F26376;
}

.conditions {
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: $dark_color;
}

.conditions-flex {
    @include flex_center_spbetween;

}

.conditions__item {
    @include flex_center_spbetween;
    flex-direction: column;
    gap: 16px;
    max-width: 360px;


    &__heading {
        color: #FBFBFB;
        font-family: Lato;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        color: #FBFBFB;
        text-align: center;
        font-family: Lato;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
    }
}

.subscribe {
    height: 448px;
    background-image: url("img/subscribe.png");
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 126px;
}

.subscribe_content_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.subscribe_content_right {
    @include flex_center_column;
    width: 65%;


}

.subscribe_content_left {
    @include flex_center_column;
    width: 35%;
}

.subscribe_text {
    color: $dark_color;
    margin-top: 30px;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.italic {
    font-style: italic;
}

.subscribe_subtitle {
    color: $dark_color;

    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%
}

.subscribe_text_right {
    color: $dark_color;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
    margin-bottom: 32px;
}

.subscribe_button {
    display: flex;
}

.input {
    width: 256px;
    height: 49px;
    color: $dark_color;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.671;
    border-radius: 20px 0 0 20px;
    padding-right: 22px;
    background-color: #E1E1E1;
    border: 0px;
}

::placeholder {
    padding-right: 22px;
    color: $dark_color;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.input_submit {
    margin-left: 0;
    width: 100px;
    height: 49px;
    border-radius: 0 20px 20px 0;
    color: $white;
    background-color: #E05C6E;
    text-decoration: none;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    fill: #E05C6E;
    padding-top: 1rem
}


.footer {
    background-color: $dark_color;
}

.footer_flex {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footer_text {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 7px;
}

.white {
    color: #F1E4E6;
    font-size: 28;
}

.social_network_link {
    background-color: white;
    padding: 0.5rem;
}

.social_network_link:hover {
    background-color: #E05C6E;
}

.social_network_link:hover path {
    fill: white;
}

@media(max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .product__box {
        width: 49%;
    }

    .main-title {
        font-size: 24px;
    }

    .big {
        font-size: 44px;
    }

    .sale {
        padding-bottom: 110px;
    }

    .products-text {
        padding-bottom: 73px;
    }

    .product__box {
        margin-bottom: 16px;
    }

    .products {
        margin-bottom: 32px;
    }

    .conditions-flex {
        flex-direction: column;
        gap: 48px;

    }

    .conditions {
        padding-top: 48;
        padding-bottom: 64px;
    }


    .subscribe {
        height: 693px;
        background-image: url("img/subscribe.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .subscribe_content_flex {
        flex-direction: column;
        gap: 48px;
    }

    .subscribe_content_left {
        width: 48%;
    }
}

@media(max-width:767px) {
    .center {
        padding-right: calc(50% - 160px);
        padding-left: calc(50% - 160px);
    }


    .mobile_display_none {
        display: none;
    }

    .dropdown {
        position: absolute;
        top: 25px;
        right: 0px;
        display: none;
        background: $white;
        list-style-type: none;
        padding: 32px;
        z-index: 1000;
    }

    .big {
        font-size: 38px;
    }

    .main-title {
        font-size: 20px;
    }

    .main-right {
        width: 100%;
        height: 363px;
        padding: 0 28px;
    }

    .mobile_small {
        height: 61px;
    }

    .sale {
        grid-template-columns: 100%;
        padding-bottom: 64px;
    }

    .sale__item__long {
        grid-column: span 1;
        height: 110px;
        background-image: url("img/acessories.svg");
        background-position: center;
        background-size: cover;
    }

    .products-text {
        padding-bottom: 65px;
    }

    .product__box {
        width: 100%;
    }

    .products {
        margin-bottom: 40px;
    }

    .conditions {
        padding-top: 48;
        padding-bottom: 81px;
    }

    .conditions-flex {
        flex-direction: column;
        gap: 47px;

    }

    .subscribe {
        background-image: url("img/subscribe_mobile.png");

    }

    .subsribe_content {
        padding-top: 53px;
        flex-direction: column;
        padding-bottom: 109px;
    }

    .subscribe_content_left {
        width: 98%;
    }

    .subscribe_content_right {
        width: 98%;
    }

    .footer_flex {

        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 9px;
    }
}